html { box-sizing: border-box }


body {
    font-family: 'Lato', sans-serif;
}

.kontakty {
    margin: 2rem;
}

.kontakty-sedivy {
    background-color: lightgrey;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
}

li {
    background-color:white;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    flex-basis: 22%;
    border-radius: 10px;
}

.zamestnanec {
border-radius: 50%;
}

.ikony img {
    margin: 0.2rem;
}
